@import "tailwindcss";
@theme {
  --color-custom-blue: #1d4ed8;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 在滚动时才显示滚动条 */
.scrollbar-hide-until-hover {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-hide-until-hover::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollbar-hide-until-hover:hover::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border: 2px solid transparent;
  background-clip: content-box;
}
